$background-image-clouds: url("../../static/image/rain_wrapper.webp");
$background-image-clear: url("../../static/image/clear_wrapper.webp");
$background-image-mist: url("../../static/image/mist_wrapper.webp");
